.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 5px #0202027a;
  ul {
    display: flex;
    list-style: none;
    li {
      a {
        color: #171717;
        text-decoration: none;
        margin: 10px;
      }
    }
  }
}
